<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>362999442732-e0ruiprahqg1hj466oj5a799ci8a2uh4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.362999442732-e0ruiprahqg1hj466oj5a799ci8a2uh4</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>362999442732-m5l5lkslpp2se2nu9bot558eb6pnsger.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCGlB3lCJ06GnVfEB96kf_wZaFWG8g3FeQ</string>
	<key>GCM_SENDER_ID</key>
	<string>362999442732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoRiverpod</string>
	<key>PROJECT_ID</key>
	<string>todo-app-5cb44</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-app-5cb44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:362999442732:ios:f630be4b67ae2fad651089</string>
</dict>
</plist>